<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">ELANCO</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" role="presentation"><a routerLink="/core">Core</a></li>
        <li routerLinkActive="active" role="presentation"><a routerLink="/applications">Applications</a></li>
        <li routerLinkActive="active" role="presentation"><a routerLink="/resources">Resources</a></li>
      </ul>
    </div>
  </nav>